/* {
    border: 1px solid black;
}*/

::-webkit-input-placeholder {color:hsl(0, 0%, 81%);}
::-moz-placeholder          {color:hsl(0, 1%, 74%);}/* Firefox 19+ */
:-moz-placeholder           {color:hsl(0, 1%, 74%);}/* Firefox 18- */
:-ms-input-placeholder      {color:hsl(0, 1%, 74%);}

html {
    height: 100%;
    background-color: #f2f8ff;
}

body {
    font-family: Helvetica;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: auto;
}

a {
    display: block;
}

#navpage {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    font-size: 1.3em;
    font-weight: 100;
    overflow: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 6px 15px -5px rgba(0, 0, 0, 0.1);
}

#navpage #leftside {
    width: 40%;
    float: left;
}

#navpage #rightside {
    width: 40%;
    float: right;
    margin-right: 30px;
    display: none;
}

#navpage #leftside span {
    float: left;
    margin: 0;
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navpage #rightside span {
    float: right;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navpage #rightside #first{
    padding-left: 25px;
}

#navpage #rightside #second{
    padding-right: 24px;
    border-right: 1px solid black;
}

.navButton {
    color: black;
}

.navButton:hover{
    cursor: pointer;
}

#dialogs {
    height: calc(100% - 86px);
    max-height: calc(100% - 86px);

    width: 40%;
    background-color: #fff;
    padding-top: 86px;
    float: left;
}
.search {
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Helvetica;
    font-weight: 100;
    background-color: rgb(243, 243, 243);
    font-size: 1em;
    border: 1px solid rgb(243, 243, 243);
    outline: none;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    transition-property: background-color, border-color;
    transition-duration: .2s;
}
.search:focus {
    background-color: #fff;
    /*border-color: rgb(237, 237, 237);*/
    border-color: rgb(230, 230, 230);
    transition-property: background-color, border-color;
    transition-duration: .2s;
}

#dialogs_section {
    border-top: 1px solid rgb(243, 243, 243);
    margin-top: 20px;
    overflow: auto;
    height: calc(100% - 61px);
}

.dialog_card div, .dialog_card span {
    /*border: 1px solid black;*/

}

.dialog_card {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(243, 243, 243);
    padding-left: 20px;
    padding-right: 20px;
}

.dialog_card div {
    overflow: auto;
}

.dialog_card span, .user_card span{
    font-size: 1em;
    font-weight: 100;
    display: block;
}

.dialog_card .first, .dialog_card .second {
    margin-bottom: 3px;
}

.username {
    width: 70%;
    float: left;
    font-weight: 100;
}

.online_status {
    width: 80px;
    float: right;
    text-align: center;
    color: #19b041;
    border: 1px solid #19b041;
    border-radius: 3px;
}

.dialog_card .counter {
    width: 80px;
    float: right;
    text-align: center;
    color: #fff;
    border: 1px solid white;
    border-radius: 3px;
    visibility: hidden;
}

.dialog_card .message {
    width: 70%;
    float: left;
    color: rgb(96, 96, 96);
}

.dialog_card .time {
    width: 80px;
    float: right;
    text-align: right;
    color: rgb(96, 96, 96);
}

/*пробные стили: */

.dialog_card .online_statuss {
    width: 80px;
    float: right;
    text-align: center;
    color: rgb(126, 126, 126);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 3px;
}

.dialog_card .counterr {
    width: 80px;
    float: right;
    text-align: center;
    color: #fff;
    border: 1px solid #19b041;
    background-color: #19b041;
    border-radius: 3px;
}

/*пробные стили конец: */


#scroll_bar {
    width: 3px;
    height: 100%;
    float: left;
}

#selected_dialog {
    width: calc(60% - 3px);
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-top: 86px;
    display: none;
}

#selected_dialog #input_message {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(243, 243, 243);
}

#selected_dialog #input_message #message {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding: 7px;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 135px);
    border: 1px solid #fff;
    outline: none;
    border-bottom: 2px solid rgb(243, 243, 243);
    font-size: 1em;
    font-family: Helvetica;
    font-weight: 100;
    transition-property: border-bottom-color;
    transition-duration: .2s;
}

#selected_dialog #input_message button {
    border: none;
    outline: none;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding: 7px;
    padding-bottom: 9px; 
    width: 90px;
    display: block;
    float: left;
    font-size: 1em;
    font-family: Helvetica;
    font-weight: 100;
    text-align: left;
    background-color: #fff;
    color: rgb(25, 176, 65);
    cursor: pointer;
    transition-property: color;
    transition-duration: .2s;
}

#selected_dialog #input_message #message:focus {
    border-bottom-color: #19b041;
    transition-property: border-bottom-color;
    transition-duration: .2s;
}

#selected_dialog #input_message button:hover{
    color: rgb(69, 216, 108);
    transition-property: color;
    transition-duration: .2s;
}

#selected_dialog #messages {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: scroll;
    height: calc(100% - 71px);
    padding-bottom: 5px;
}

#selected_dialog .message_recieved span, #selected_dialog .message_sended span {
    border: 1px solid rgb(243, 243, 243);
    display: inline-block;
    padding: 14px;
    border-radius: 24px;
}

#selected_dialog .message_recieved, #selected_dialog .message_sended {
    /*border: 1px solid black;*/
    width: 100%;
    overflow: auto;
    margin-top: 5px;
}

#selected_dialog .message_recieved span {
    float: left;
    margin-left: 20px;
}

#selected_dialog .message_sended span{
    float: right;
    margin-right: 20px;
    background-color: rgb(243, 243, 243);
}

#chats {
    height: 100%;
    overflow: auto;
    display: none;
}

#users {
    display: none;
    font-family: Helvetica;
    font-weight: 100;
    height: calc(100% - 86px);
    padding-top: 86px;
    background-color: #fff;
}

#users .user_card {
    /*border: 1px solid black;*/
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(243, 243, 243);
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

#users_section {
    border-top: 1px solid rgb(243, 243, 243);
    margin-top: 20px;
    overflow: auto;
    height: calc(100% - 61px);
}

.write_message {
    width: 156px;
    float: left;
    color: rgb(96, 96, 96);
    margin-top: 20px;
    color: #19b041;
    transition-property: color;
    transition-duration: .2s;
}

.write_message:hover {
    color: rgb(69, 216, 108);
    cursor: pointer;
    transition-property: color;
    transition-duration: .2s;
}

.u_first .username {
    width: calc(100% - 100px);
}

#message_popup {
    width: 560px;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    font-family: Helvetica;
    font-weight: 100;
    overflow: auto;
    font-size: 1em;
    display: none;
}

message_popup span {
    padding: 0;
}

#message_popup * {
    display: block;
}

#message_popup #header{
    width: 100%;
    font-size: 1.3em;
    box-sizing: border-box;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

#message_popup textarea {
    resize: none;
    overflow: hidden;
    border-radius: 3px;

    width: 100%;
    height: 100px;
    outline: none;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 1em;
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
}

#message_popup #send_button2 {
    float: left;
    border: none;
    outline: none;
    margin: 0;
    font-size: 1em;
    font-family: Helvetica;
    font-weight: 100;
    margin-top: 15px;
    color: #19b041;
    transition-property: color;
    transition-duration: .2s;
}

#message_popup #send_button2:hover {
    color: rgb(69, 216, 108);
    cursor: pointer;
    transition-property: color;
    transition-duration: .2s;
}

#message_popup .username, #message_popup .online_status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bg_popup {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}